/*通用样式*/
*{
	margin: 0;
	padding: 0;
    font-family: Verdana, Simsun, serif;
}
a{
	text-decoration: none;
}
.c{
	margin: 0 auto;
}
ul{
	list-style: none;
}
/*缩放效果*/
@-webkit-keyframes scale{
	0%{
		transform: scale(1);
	}
	20%{
		transform: scale(1.2);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}
/*抖动效果*/
@-webkit-keyframes buzz-out{
	10% {
        -webkit-transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0deg);
    }
}
/*头部*/
.header{
	width: 1024px;
	height: 77px;
}
.header ul{
	display: flex;
	flex-direction: row;
}
.header img{
	width: 128px;
	height: 26px;
}
.header a{
	display: inline-block;
}
/*头部logo*/
.hd_logos{
	float: left;
}
.hd_logos li{
	width: 128px;
    height: 26px;
    margin: 27px 0 0 22px;
}
.hd_logos li:hover{
	-webkit-animation-name:scale ;
    -webkit-animation-duration:2s;
    -webkit-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
}
/*头部链接*/
.hd_links{
	float: right;
	margin: 32px 2px 0 0;
}
.hd_links li{
	padding: 0 5px;
	font-size: 12px;
    line-height: 21px;
}
.hd_links a{
	margin: 0 10px;
	color: #d90000;
}
.hd_links li:first-child a{
	 color: #005590;
}
.hd_links a:hover{
	text-decoration: underline;	
}
/*头部结束*/
/*导航*/
.nav{
	width: 1024px;
	height: 45px;
    background: #3b79b5;
    position: relative;
}
/*导航条*/
.nav ul{
	display: block;
}
.nav ul li{
	float: left;
	width: 134px;
	height: 35px;
}
.nav ul li a{
	display: block;
}
.nav ul li:first-child a span{
	display: block;
    width: 134px;
    height: 35px;
	background: url(../img/sprite_1.png) no-repeat -2px 0;
}
.nav ul li:first-child a:hover span{
	background: url(../img/sprite_1.png) no-repeat -2px -40px;
}
.nav ul li:nth-child(2) a span{
	display: block;
    width: 134px;
    height: 35px;
	background: url(../img/sprite_1.png) no-repeat -138px -40px;
}
/*导航条右边竖线*/
.nav ul li:nth-child(3) span{
	display: inline-block;
	height: 20px;
	width: 1px;
	margin-top: 7px;
	background: #2d65a3;
}
/*三角*/
.nav .triangle{
	width: 100%;
	height: 10px;
    background:#ebf2f6  url(../img/sprite_1.png) no-repeat 153px -284px;
    position: absolute;
    left: 0;
    top: 35px;
}
/*导航结束*/
/*搜索区*/
.search{
	width: 1024px;
	height: 84px;
	padding-top: 12px;
	background-color: #ebf2f6;
	display: flex;
	flex-direction: row;
}
/*搜索图标*/
.search>span{
	margin: -4px 0 0 30px;
	display: inline-block;
	height: 50px;
	width: 50px;
	background: url(../img/sprite_1.png) no-repeat 0 -130px;
}
.search>span:hover{
	-webkit-animation-name:buzz-out ;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
}
/*搜索框*/
.search form{
	margin-left: 6px;
	height: 84px;
}
.search form input[type="text"]{
	width: 531px;
    height: 39px;
    line-height: 39px;
    padding: 0 13px;
    border: 0;
    font-size: 14px;
    color: #333;
    background: url(../img/sprite_1.png) no-repeat 0px -79px;
    outline: none;
    float: left;
}
/*input里面的提示信息*/
.search form input[type="text"]::-webkit-input-placeholder {
	color: rgb(204, 204, 204);
    text-indent: 10px;
    font-size: 14px;
}
.search form input[type="submit"]{
	text-indent: -20000px;
    overflow: hidden;
    width: 106px;
    height: 39px;
    margin-left: 10px;
    border: 0;
    background: url(../img/sprite_1.png) no-repeat -50px -128px;
    cursor: pointer;
    outline: none;
    float: left;
}
/*热门搜索*/
.search form p:last-child{
	width: 920px;
	font-size: 14px;
    line-height: 25px;
    padding-top: 3px;
    text-indent: 2px;
    color: #666;
    font-family: Simsun;
    white-space: nowrap;
    overflow: hidden;
}
.search form p:last-child a{
	color: #005590;
	padding: 0 8px;
	border-right: 1px solid #999;
}
.search form p:last-child a:first-child{
	padding-left: 0;
}
.search form p:last-child a:last-child{
	padding-right: 0;
	border: 0;
}
/*搜索区结束*/
/*主要内容*/
.main{
	width: 966px;
	height: 823px;
	padding: 25px 29px 20px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
.main h2{
	padding-bottom: 14px;
    font-size: 20px;
    color: #4e4e4e;
	white-space: nowrap;
    font-weight: bold;
}
/*工具栏*/
.sidebar{
    width: 149px;
	height: 823px;
    border-right: 1px solid #e3e3e3;
	overflow: hidden;
}
.sidebar>ul>li{
	position: relative;
	white-space: nowrap;
}
.sidebar>ul>li label img{
	position: absolute;
    top: 2px;
    left: 7px;
    width: 30px;
    height: 30px;
}
.sidebar ul li label{
	font-size: 14px;
    line-height: 25px;
    display: block;
    padding: 5px 0 6px 40px;
    color: #333;
}
.sidebar ul li label span{
	position: absolute;
    top: 7px;
    right: 3px;
    width: 20px;
    height: 20px;
    background: url(../img/sprite-ico_v2.png) no-repeat;
    background-position: -160px 0;
}
.sidebar ul li label:hover{
	background-color: #e8f1f5;
}
.sidebar input:checked+label{
	color: #fff;
    font-weight: bold;
    background-color: #6ea5da;
}
.sidebar input:checked+label:hover{
	background-color: #6ea5da;
}
.sidebar label{
	display: block;
}
.sidebar input{
	display: none;
}
.sidebar ul ul{
	display: none;
}
.sidebar input:checked~ul{
	display: block;
}
.sidebar ul ul li{
	padding-left: 39px;
}
.sidebar ul ul li a{
	font-size: 12px;
    line-height: 21px;
    color: #005590;
    height: 21px;
    overflow: hidden;
    width: 100px;
    display: block;
    text-overflow: ellipsis;
}
.sidebar ul ul li a:hover{
	text-decoration: underline;
	font-weight: bold;
}
/*问题列表*/
.question_list{
	width: 785px;
    padding-left: 31px;
}
.question_list ul li{
	position: relative;
	padding-bottom: 1px;
	background: url(../img/bg-line.png) repeat-x 0 bottom;
	white-space: nowrap;	
}
.question_list ul li a{
    font-size: 14px;
    line-height: 25px;
    display: block;
    color: #333;
    padding: 5px 18px 6px 13px;
}
.question_list ul li a span{
	display: none;
	position: absolute;
    right: 5px;
    top: 0px;
    font-size: 14px;
    line-height: 36px;
    color: #333;
}
.question_list ul li a:hover{
    background-color: #e8f1f5;
}
.question_list ul li a:hover span{
	display: block;
}
/*分页*/
.pager{
	padding-top: 16px;
	text-align: right;

}
.pager>span{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
}
.pager span span:first-child{
	padding: 4px 23px 4px 9px;
    color: #777;
    line-height: 25px;
    font-size: 12px;
    border: 1px solid #989898;
    border-radius: 3px;
}
.pager span span:nth-child(2){
	display: block;
	background: url(../img/question_sprite.png) no-repeat -120px 0;
    width: 7px;
    height: 4px;
    position: absolute;
    top: 11px;
    right: 6px;
}
.pager a{
	display: inline-block;
	width: 28px;
    height: 28px;
    margin-left: 6px;
}
.pager a span{
	display: inline-block;
	width: 28px;
    height: 28px;
	background: url(../img/question_sprite.png) no-repeat -90px 0;
}
.pager a:last-child span{
	background: url(../img/question_sprite.png) no-repeat 0 -30px;
}
/*主要内容结束*/
/*侧边服务*/
.aside{
	position: fixed;
	right: 0;
	bottom: 200px;
    height: 100px;
    line-height: 15px;
    font-size: 14px;
    width: 34px;
    padding: 18px 8px 0 8px;
    vertical-align: middle;
    background-color: #2c75b8;
    box-sizing: border-box;
}
.aside a{
	color: #fff;
}
/*侧边服务结束*/
/*广告*/
.banner{
	width: 1024px;
    height: 96px;
   	margin-bottom: 20px;
    position: relative;
}
.banner a img{
	display: block;
	width: 960px;
    height: 96px;
    margin: 0 auto;
}
/*广告结束*/
/*底部*/
.footer{
	width: 1024px;
	height: 72px;
    background-color: #f5f5f5;
}
/*底部主要内容*/
.ft_con{
    padding: 15px 0;
	text-align: center;
	font-size: 12px;
    line-height: 21px;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
}
.ft_con a{
	margin-right: 14px;
	color: #333;
}
.ft_con a:hover{
	text-decoration: underline;
}
/*底部结束*/